
.box{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 300px;
    height: 150px;
    background: rgba(0, 0, 0, 0.6);
    background-size: auto;
    background-position: center;
    text-align: center;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 20px;

}

body{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../IMAGENES/Foto\ lima\ beso.jpg);
    background: cover;
    background-position: center;
    background-size: cover;
}
.pag1{
    color: whitesmoke;

}
.error{
    color: red;
}