.galeria {
  column-count: 4;
  column-gap: 15px;
  padding: 20px;
}

.foto {
  margin-bottom: 15px;
  cursor: pointer;
}

.foto img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.foto img:hover {
  transform: scale(1.03);
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.cerrar {
  float: right;
  cursor: pointer;
  font-size: 18px;
}