*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    background-color: #f5f5f5;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.search{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search i{
    font-size: 25px;
    color: #111111;
}
.search-txt{
    display: flex;
    align-items: center;
}
.search-txt i{
    font-size: 40px;
    color: #f8010A
}
.search-txt h2{
    color:#111111;
    font-size: 30px;
    margin-left: 10px;
}
.movies{
    padding: 50px 0 150px 0;
}
.movies h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.swiper{
    width: 100%;
}
.swiper-slider{

    background-position: center;
    background-size: cover;
    width: 250px;
}
.swiper-slide{
    width: 500px;
}
.swiper-slide img{
    display:block;
    width: 100%;
}
.icons{
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 25px;
    color:#111111;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icons i:hover{
    color:#f8010A;
    background: #FEFEFE;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px){

    body{
        min-height: 0vh;

    }
    .search{
        padding: 30px 30px 0px 30px;
    }
    .movies{
        padding: 30px;

    }
    .icons{
        padding: 30px;
    }
}
